body {
  background-image: url("sunrise.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: 1920px 301px;
  width: 960px;
  height: 301px;
}

p {
  color: green
}

h1 {
  color: red
}

h2 {
  color: orange
}

h3 {
  color: yellow
}

.white-box {
  background: url("Hue_alpha.png");
  background-repeat: no-repeat;
  background-size: 2500px 1000px;
  background-color: transparent;
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}
