body {
  background-color: lavender;
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

h1 {
  padding: 20px 0px 10px 0px;
  text-align: center;

}

a{
color: black;
text-align: center;
}

.projectA {
  background-color: mediumpurple;
  text-align: center
}

.projectB {
  background-color: mediumpurple;
  text-align: center
}

.projectC {
  background-color: mediumpurple;
  text-align: center
}

.projectD {
  background-color: mediumpurple;
  text-align: center
}
