body {
  background-image: url("stars.gif");
  background-repeat: no-repeat;
  background-size: 6000px 1000px;
  background-color: black;
  width: 1500px;
  height: 1000px;
}

p {
  font-size: 20px;
  color: black;
  text-decoration: underline;
  line-height: 200%
}

h1 {
  font-size: 20px;
  color: black;
  text-decoration: underline;
}

h2 {
  font-size: 20px;
  color: black;
  text-decoration: underline;
}

h3 {
  font-size: 20px;
  color: black;
  text-decoration: underline;
}

.white-box {
  background-image: url("bWGradient.jpg");
  background-repeat: no-repeat;
  background-size: 5000px 500px;
  background-color: transparent;
  width: 1500px;
  height: 1000px;
  position: absolute;
  left: 0.5%;
  top: 0%;
  width: 98%;
  text-align: center;
}

a {
  color: black;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
