body {
  background-image: url("stars.gif");
  background-repeat: no-repeat;
  background-size: 6000px 1000px;
  background-color: black;
  width: 1500px;
  height: 1000px;
}

p {
  font-size: 24px;
  color: purple
}

h1 {
  color: black
}

h2 {
  color: grey
}

h3 {
  color: white
}

.white-box {
  background-image: url("bWGradient.jpg");
  background-repeat: no-repeat;
  background-size: 5000px 500px;
  background-color: transparent;
  width: 1500px;
  height: 1000px;
}

a {
  color: black;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
