body{
  background-image: url("skulls.gif");
   background-color: #cccccc;
}

p{
font-size: 24px;
color:purple
}
h1{
  color:green
}
h2{
  color:orange
}

h3{
  color:red
}

.white-box{
  background-color: white;
  width: 500px;
  padding: 50px;
  border: 5px solid yellow
}

window.onload = function() {
    document.getElementById("my_audio").play();
}
